<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Administrador de Salarios</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
              <div class="input-group">
                  <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                  <span class="input-group-addon">Search</span>
              </div>
            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#create-user">Create New</button>
        </div>
    </div>
</div>
<table class="table table-bordered pagin-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Salario</th>
            <th width="220px">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
            <td>{{ value.users_id }}</td>
            <td>{{ value.name }}</td>
            <td>{{ value.email }}</td>
            <td>{{ value.amount }}</td>
            <td>
            <button data-toggle="modal" ng-click="edit(value.users_id)" data-target="#edit-data" class="btn btn-primary">Editar</button>
            <button ng-click="remove(value.users_id,$index)" class="btn btn-danger">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
<!-- Create Modal -->
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear </h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Nombre : </strong>
                            <div class="form-group">
                                <input ng-model="form.name" type="text" placeholder="Name" name="name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Email : </strong>
                            <div class="form-group">
                                <input ng-model="form.email" type="text" placeholder="Email" name="email" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Salario : </strong>
                            <div class="form-group" >
                                <input ng-model="form.amount" type="text" placeholder="Monto" name="amount" class="form-control" required onkeypress ='return justNumbers(event);'/>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Nombre : </strong>
                            <div class="form-group">
                               <input ng-model="form.name" type="text" placeholder="Name" name="name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Email : </strong>
                            <div class="form-group">
                               <input ng-model="form.email" type="text" placeholder="Name" name="name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Salario : </strong>
                            <div class="form-group" >
                                <input ng-model="form.amount" type="text" placeholder="Monto" name="amount" class="form-control" required onkeypress ='return justNumbers(event);' />
                            </div>
                        </div>

                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
   
       function justNumbers(e)
        {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
        return true;
         
        return /\d/.test(String.fromCharCode(keynum));
        }
</script>